---
// src/pages/app.astro
import Layout from '../layouts/Layout.astro';
---

<Layout title="FORGOR - Search">
    <div class="flex flex-col min-h-screen bg-purple">
        <header class="flex items-center justify-between p-4 bg-purple-800 gap-x-3">
            <a href="/" class="flex items-center">
                <img src="/icons/favicon.png" alt="FORGOR Icon" class="h-10 w-12"/>
            </a>
            
            <div class="flex-grow">
                <input
                    type="text"
                    placeholder="what did you forget?"
                    class="w-full py-2 px-4 font-display bg-neonGreen text-brightPurple placeholder-brightPurple-200 uppercase focus:outline-none focus:ring-2 focus:ring-neonGreen"
                />
            </div>
            
            <div class="flex items-center gap-x-2">
                <span id="usernameDisplay" class="text-brightPurple font-bold"></span>
                <a href="/user">
                    <div id="userIcon" class="flex justify-center items-center bg-neonGreen text-brightPurple font-bold h-10 w-10 rounded-full">
                        <script>
                            let username = localStorage.getItem('username');
                            let userIcon = document.getElementById('userIcon');
                            if (userIcon) {
                                if (username) {
                                    userIcon.textContent = username.charAt(0).toUpperCase();
                                } else {
                                    userIcon.textContent = 'U';
                                }
                            }
                        </script>
                    </div>
                </a>
            </div>
        </header>

        <main class="flex-grow flex items-center justify-center p-8 text-white">
            <p class="text-xl text-gray-400">Your search results will appear here.</p>
        </main>
        
    </div>
</Layout>
