---
// src/components/Header.astro
const currentPath = Astro.url.pathname;
---

<header class="flex justify-between items-center p-6 max-w-full overflow-hidden">
  <a href="/" class="flex items-center w-40">
    {currentPath !== '/' && (
      <img src="/icons/favicon.png" alt="FORGOR Icon" class="h-10 w-10"/>
    )}
  </a>
</header>
